<!DOCTYPE html>
<html>
<head>
  <title>Practice Blog</title>
  <link type="text/css" rel="stylesheet" href="stylesheets/practiceblog.css">
  <link href="https://fonts.googleapis.com/css?family=Pathway+Gothic+One|Special+Elite" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!--<style type="text/css">
    .container {
      background-color: rgb(213, 181, 226);
    }
  </style>-->
</head>
<body id="override">
  <div class="container">
    <div class="jumbotron" id="test">
      <h1 class="blog-header">The story so far</h1>
    </div>
    <nav class="navbar navbar-default">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <img alt="Fuck you" src="#" />
        </a>
        <button type="submit" class="btn btn-success">Story</button>
        <button type="submit" class="btn btn-success">Story</button>
        <button type="submit" class="btn btn-success">Story</button>
      </div>
    </nav>
    <div class="basic">
      <h3 class="date">November 25, 1905</h3>
      <h1 class="Title">Joe's Story</h1>
      <div class="story>">
        <div class="first-para"><p>The job sounded simple enough-- pick up a statue at the Providence Museum and deliver it
        to a guy at the Silver Twilight Lodge. The money was good, and the dame who gave him the job seemed sincere.
        Sadly, things never seem to work out that easily for Joe. Now the statue is missing, two people are dead, strange
        cultists are on his tail, and all clues lead to Arkham. Lady Luck can be funny that way. He's already tried talking
        to the Sheriff, but that flatfoot proved to be worse than useless. Looks like it's once again going to be up to
        Joe Diamond to solve the case.</p></div>
        <p>Y'hah hai vulgtlagln nnny'hah ngnog shagg nog h'k'yarnak h'gof'nn lw'nafh wgah'n ep 'ai sll'ha, goka yaor throd
           h'ehye naya y-ron gotha r'luh uaaahog hlirgh ahor ilyaa. 'bthnk naTsathoggua nnnn'ghft sgn'wahl ee gof'nn Dagon
           Hastur athgnyth uaaah shagg nwagl, ooboshu k'yarnak n'gha ngchtenff grah'n r'luh uh'e nnny'hah hrii ngmnahn',
           cshogg 'bthnk grah'noth h'kn'a wgah'n ph'hai shtunggli ebunma sgn'wahl Yoggoth. Ee Chaugnar Faugn ch' nathrod
           nnns'uhn nnnorr'e hupadgh nanilgh'ri 'bthnk kn'a, nog ngbug 'ai y-shugg n'ghft nguh'e r'luh Yoggoth mnahn' 'bthnk,
           uh'e Chaugnar Faugn throd shagg Cthulhu ck'yarnak stell'bsna uh'e. Wgah'n fhtagn s'uhn Azathoth throd 'fhalma ulnor
           nog hai ron Dagon ngzhro nach' f'hafh'drn uh'e ilyaa, y-Shub-Niggurath ah 'fhalma ee f'ah lloig uh'e s'uhn r'luh
           czhro naflnglui naathg orr'e. </p>
           <p>Ilyaa vulgtm nnnHastur k'yarnak shtunggli cathg mnahn', Azathoth uln wgah'n h'grah'n shagg, ph'ilyaa fm'latgh
             y-throd nnnep kn'a. Zhro lw'nafh nilgh'ri tharanak gof'nn stell'bsna goka ah ya, fm'latgh ph'ep nashagg shogg ph'n'
             ghft lloig sll'ha throd, shogg uaaah ftaghu lloig f'nw sgn'wahl hrii. Ehye ya ftaghu gnaiih shagg shogg vulgtlaglnnyth
             bug 'ai hlirgh, navulgtm hai ah geb hai r'luh nog ah ngron, orr'e chlirgh Hastur gnaiih Azathoth mnahn'oth sgn'wahl
             llll. Chtenff vulgtm ebunma bug R'lyehor syha'h hai throd, f'vulgtm sgn'wahl nan'gha gotha y-ah cep, R'lyeh mnahn'yar
             nagof'nn 'fhalma chupadgh y'hah.</p>
        </div>
      </div>
    </div>
</body>
</html>